*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body{
    font-family: 'Kanit', sans-serif;
}

.row-1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1080px;
    background: url("../img/service-main.jpg");
    background-size: cover;
    text-align: right;
}
.row-1::after{
    content:'';
    width:100%;
    background-image: url(../img/wave.svg);
    height: 450px;
    position: relative;
    top: 700px;
}
.col-1{
    flex-basis: 40%;
    min-width: 330px;
    position:absolute;
    top:450px;
    right: 140px;
}
.col-1 h1{
    font-size:80px;
    color:#fff;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
}
.col-1 p{
    font-size:24px;
    color:#fff;
    max-width: 800px;
    margin: 15px 0 28px;
    padding: 0;
}
.hollow-btn{
    display: inline-block;
    color:#86C232; 
    border-radius: 50px;
    font-size:28px;
    text-decoration: none;
    width: 362px;
    height: 76px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 5px;
    border: 5px solid #86C232 ;
}
.hollow-btn:hover{
    background-color:#86C232;
    color:#fff; 
}

.container{
    padding: 50 100px;
    background-color: #222629;
    text-align: center;
}
.container h2{
    color: #fff;
    font-size: 60px;
    font:bold;
    padding: 50px 0 50px;
    letter-spacing: 5px;
}
.row-3{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222629;
    padding: 50px 200px;
    text-align: center;
}
.row-3 .col-3{
    flex-basis:30%;
    transition: transform 0.5s;
    width: 500px;
    height: auto;
    /*border: 5px solid #86C232 ;*/
    align-items: center;
    padding: 0px 30px;
    
}
.row-3 .col-3 img{
    width: 150px;
    border-radius: 50%;
}
.row-3 .col-3 h6{
    font-size: 32px;
    font:bold;
    color:#fff;
    margin: 10px 0;
    letter-spacing: 3px;
}
.row-3 .col-3 p{
    font-size: 24px;
    color:#6B6E70;
    height: 200px;
}
.row-3 .col-3 .small-btn{
    display: inline-block;
    width: 220px;
    height: 76px;
    font-size: 24px;
    background-color: #86C232;
    color: #fff;
    border-radius: 50px;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 76px;
    margin: 40px 0;
}
.row-3 .col-3 .small-btn:hover{
    background-color:#61892F;
}
