* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1080px;
    background: url("../img/service-main.jpg");
    background-size: cover;
    text-align: right;
}

/* .row-1::after {
    content: '';
    width: 100%;
    background-image: url(../img/wave.svg);
    height: 490px;
    position: absolute;
    bottom: -150px;
    pointer-events: none;
} */

.col-1 {
    flex-basis: 40%;
    min-width: 330px;
    position:absolute;
    top:400px;
    right: 140px;
    padding: 0 20px;
}

.col-1 h1 {
    font-size: 80px;
    color: #fff;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
}

.col-1 p {
    font-size: 24px;
    color: #fff;
    max-width: 800px;
    margin: 15px 0 28px;
    padding: 0;
}

.hollow-btn {
    display: inline-block;
    color: #86C232;
    border-radius: 50px;
    font-size: 28px;
    text-decoration: none;
    width: 362px;
    height: 76px;
    text-align: center;
    line-height: 66px;
    letter-spacing: 5px;
    border: 5px solid #86C232;
}

.hollow-btn:hover {
    background-color: #86C232;
    color: #fff;
}

.container{
    padding: 50px 100px;
    background-color: #222629;
    text-align: center;
}

.container h2 {
    color: #fff;
    font-size: 60px;
    font:bold;
    padding: 0px 0 50px;
    letter-spacing: 5px;
}

.row-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222629;
    padding: 50px 100px;
    text-align: center;
}

.row-3 .col-3 {
    flex-basis: 33%;
    transition: transform 0.5s;
    width: 550px;
    height: 550px;
    /* border: 5px solid #86C232 ; */
    align-items: center;
    padding: 0px 30px;
}

.row-3 .col-3 img {
    width: 150px;
    border-radius: 50%;
}

.row-3 .col-3 h6 {
    font-size: 32px;
    font: bold;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 3px;
}

.intro{
    height: 220px;
}
.row-3 .col-3 p {
    font-size: 24px;
    color: #6B6E70;
    padding-bottom: 10px;
}

.row-3 .col-3 .small-btn {
    display: inline-block;
    width: 220px;
    height: 76px;
    font-size: 24px;
    background-color: #86C232;
    color: #fff;
    border-radius: 50px;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 76px;
    margin: 15px 0 ;
}

.row-3 .col-3 .small-btn:hover {
    background-color: #61892F;
}

